@{
    ViewData["Title"] = "Авторизація";
}
@model IEnumerable<Karpaty.ViewModels.BookingTableItem>

<div>
    <h2>Перелік бронювань </h2>
    <table class="table">

    @foreach(var item in Model)
    {
        
    }
    </table>
</div>