@{
    ViewData["Title"] = "Поїхали в Карпати";
}
<section id="expect" class="expect">
	<div class="container">
		<h2 class="section-title">
			На вас чекають
		</h2>

		<div class="advantages">

			<div class="advantage">
				<img class="house" src="~/img/house.jpg" alt="house">
				<h3 class="advantage-title">
					Окремі будиночки
				</h3>
				<p class="advantage-text">
					для 2х, 3х або 4х людей, віддалені один від одного. <br> Спокій гарантовано
				</p>
			</div>

			<div class="advantage">
				<img class="guide" src="~/img/guide.jpg" alt="guide">
				<h3 class="advantage-title">
					Особистий гід
				</h3>
				<p class="advantage-text">
					який відкриє вам всю красу природи карпат та проведе прихованими стежками
				</p>
			</div>

			<div class="advantage">
				<img class="moneyt" src="~/img/money.jpg" alt="money">
				<h3 class="advantage-title">
					Приємні ціни
				</h3>
				<p class="advantage-text">
					ми збережемо ваші гроші та подаруємо відпочинок який ви точно не забудете
				</p>
			</div>

		</div>
	</div>

</section>
